/* Ensure the body and root take full height */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    height: 100%;
}

/* Style for the entire page container */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Style for the header */
.header {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Make the projects container take full height and display flex to center content */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Style each project box */
.project-box {
    width: 30%;
    margin: 20px;
    border: 2px solid #0C4B1B;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    /* Smooth transition */
}

/* Make the project boxes stand out on hover */
.project-box:hover {
    transform: translateY(-10px);
    /* Slight lift effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* More pronounced shadow */
    border-color: #007BFF;
    /* Change border color */
}

/* Ensure project images fill the container */
.project-image {
    height: 50%;
}

.project-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* Change to 'contain' if you want to fit the image without cropping */
}

/* Style project content */
.project-content {
    padding: 10px;
    background-color: #f9f9f9;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.divider {
    height: 2px;
    background-color: #000000;
    width: 100%;
}

.project-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.project-description {
    font-size: 1em;
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project-box {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .project-box {
        width: 100%;
    }
}